/*!
Pure v0.6.1
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
*, *::before, *::after {
  position: relative;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 32px;
  margin: 15px 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -8px;
}
sub {
  bottom: -4px;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 16px 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
hr {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}
pre {
  border-left: 2px solid #ddd;
  background: #eee;
  padding: 20px;
  font-family: Consolas, monospace;
  font-size: 14px;
}
blockquote {
  border-left: 2px solid #ddd;
  padding: 15px 20px;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
.hidden,
[hidden] {
  display: none !important;
}
.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}
.pure-g {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .pure-g {
    display: block;
  }
}
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em;
}
.pure-u,
.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  font-family: "Segoe UI", Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}
.pure-u-1-24 {
  width: 4.1667%;
}
.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
}
.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5000%;
}
.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
}
.pure-u-1-5 {
  width: 20%;
}
.pure-u-5-24 {
  width: 20.8333%;
}
.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
}
.pure-u-7-24 {
  width: 29.1667%;
}
.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
}
.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5000%;
}
.pure-u-2-5 {
  width: 40%;
}
.pure-u-5-12,
.pure-u-10-24 {
  width: 41.6667%;
}
.pure-u-11-24 {
  width: 45.8333%;
}
.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
}
.pure-u-13-24 {
  width: 54.1667%;
}
.pure-u-7-12,
.pure-u-14-24 {
  width: 58.3333%;
}
.pure-u-3-5 {
  width: 60%;
}
.pure-u-5-8,
.pure-u-15-24 {
  width: 62.5000%;
}
.pure-u-2-3,
.pure-u-16-24 {
  width: 66.6667%;
}
.pure-u-17-24 {
  width: 70.8333%;
}
.pure-u-3-4,
.pure-u-18-24 {
  width: 75%;
}
.pure-u-19-24 {
  width: 79.1667%;
}
.pure-u-4-5 {
  width: 80%;
}
.pure-u-5-6,
.pure-u-20-24 {
  width: 83.3333%;
}
.pure-u-7-8,
.pure-u-21-24 {
  width: 87.5000%;
}
.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
}
.pure-u-23-24 {
  width: 95.8333%;
}
.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
  width: 100%;
}
.pure-button {
  font-family: inherit;
  font-size: 16px;
  padding: 0.5em 1em;
  color: #444;
  border: 1px solid #999;
  text-decoration: none;
  border-radius: 2px;
  background: none;
  text-transform: none;
  font-weight: 300;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.pure-button:focus {
  outline: 0;
}
.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px inset, 0 0 3px inset;
}
.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}
.pure-button-hidden {
  display: none;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  border-color: rgb(64, 156, 241);
  color: rgb(64, 156, 241);
}
.button-success {
  border-color: rgb(28, 184, 65);
  color: rgb(28, 184, 65);
}
.button-error {
  border-color: rgb(202, 60, 60);
  color: rgb(202, 60, 60);
}
.button-warning {
  border-color: rgb(223, 117, 20);
  color: rgb(223, 117, 20);
}
.button-secondary {
  border-color: rgb(66, 184, 221);
  color: rgb(66, 184, 221);
}
.button-xsmall {
  font-size: 70%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 110%;
}
.button-xlarge {
  font-size: 125%;
}
.pure-form input:not([type="checkbox"]):not([type="radio"]),
.pure-form select,
.pure-form textarea {
  padding: 8px 0;
  display: inline-block;
  border: dotted #ccc;
  border-width: 0 0 1px 0;
  vertical-align: middle;
  transition: border-color .15s;
  font-size: 16px;
}
.pure-form input[type="color"] {
  padding: 3px 8px;
}
.pure-form input:not([type="checkbox"]):not([type="radio"]):focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #0078e7;
}
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}
.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}
.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 8px 0;
  display: block;
}
.pure-form input:not([type="checkbox"]):not([type="radio"])[disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}
.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.pure-form select {
  height: 36px;
  border: 1px solid #ccc;
  background-color: white;
}
.pure-form select[multiple] {
  height: auto;
}
.pure-form label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  color: #666;
  margin-top: 15px;
}
.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.pure-form-stacked input:not([type="checkbox"]):not([type="radio"]),
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 4px 0;
}
.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  vertical-align: middle;
}
.pure-form-aligned textarea {
  vertical-align: top;
}
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}
.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}
.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3;
}
.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.pure-form .pure-group button {
  margin: 0.35em 0;
}
.pure-form .pure-input-1 {
  width: 100%;
}
.pure-form .pure-input-3-4 {
  width: 75%;
}
.pure-form .pure-input-2-3 {
  width: 66%;
}
.pure-form .pure-input-1-2 {
  width: 50%;
}
.pure-form .pure-input-1-3 {
  width: 33%;
}
.pure-form .pure-input-1-4 {
  width: 25%;
}
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}
@media only screen and (max-width : 480px) {
  .pure-form button[type="submit"] {
    margin: 0.7em 0 0;
  }
  .pure-form input:not([type="checkbox"]):not([type="radio"]),
  .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }
  .pure-group input:not([type="checkbox"]):not([type="radio"]) {
    margin-bottom: 0;
  }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
.pure-menu {
  box-sizing: border-box;
}
.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.pure-menu-list,
.pure-menu-item {
  position: relative;
}
.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}
.pure-menu-link,
.pure-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}
.pure-menu-horizontal .pure-menu-list {
  display: inline-block;
}
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}
.pure-menu-item .pure-menu-item {
  display: block;
}
.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}
.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}
.pure-menu-allow-hover:hover > .pure-menu-children,
.pure-menu-active > .pure-menu-children {
  display: block;
  position: absolute;
}
.pure-menu-has-children > .pure-menu-link:after {
  padding-left: 0.5em;
  content: "\25B8";
  font-size: small;
}
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE";
}
.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}
.pure-menu-scrollable .pure-menu-list {
  display: block;
}
.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block;
}
.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding: .5em 0;
}
.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none;
}
.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0;
}
.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 .3em ;
}
.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}
.pure-menu-link {
  color: #777;
}
.pure-menu-children {
  background-color: #fff;
}
.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
  padding: .5em 1em;
}
.pure-menu-disabled {
  opacity: .5;
}
.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent;
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: #eee;
}
.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: #000;
}
.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0;
}
.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
.pure-table td {
  background-color: transparent;
}
.pure-table-odd td {
  background-color: #f2f2f2;
}
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}
