.thumbnail-hover {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}
.thumbnail-img:hover .thumbnail-hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}
.thumbnail-img:active .thumbnail-hover {
  opacity: 0;
  visibility: hidden;
}