<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Template</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/pure-custom.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <div id="app" class="container" rv-cloak>

    <div rv-if="state.user" class="pure-g">
      <div class="side-nav pure-u-1-5">
        <div class="pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link active">Products
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="#/articles" class="pure-menu-link">Blog</a>
            </li>
            <li class="pure-menu-item">
              <a href="#/orders" class="pure-menu-link">Orders</a>
            </li>
            <li class="pure-menu-item">
              <a href="#/views" class="pure-menu-link">Views</a>
            </li>
            <li class="pure-menu-item">
              <a href="#/settings" class="pure-menu-link">Settings</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="router-view" class="pure-u-4-5">
        <div class="text-right margin-top-lg"><a href="#/logout">Logout</a></div>
        <router-view routes="routes" notify="notify"></router-view>
      </div>
    </div>

    <div rv-unless="state.user" class="signin">
      <div class="container">
        <form class="pure-form pure-form-stacked" rv-on-submit="signIn">
          <input rv-value="state.signin.login" type="email" placeholder="Email" required autofocus>
          <input rv-value="state.signin.password" type="password" placeholder="Password" required>
          <button rv-class-wait-button="state.wait" rv-disabled="state.wait"
            type="submit" class="pure-button pure-button-primary margin-top">
            Sign in
          </button>
        </form>
      </div>
    </div>

    <div rv-if="state.loader" class="loader"></div>

    <div id="notify">
      <div rv-each-message="messages" rv-class="message.type" class="banner">
        <div>{ message.text }</div>
        <div rv-on-click="removeMessage" class="close">&times;</div>
      </div>
    </div>

    <div rv-show="modal.visible" id="message_modal" class="modal">
      <div class="body">
        <div class="header">
          <div rv-show="modal.onCancel" rv-on-click="onMessageCancel"
            class="close">&times;</div>
        </div>
        <div rv-html="modal.html" class="content"></div>
        <div class="footer">
          <button rv-show="modal.onSubmit" rv-on-click="onMessageSubmit"
            class="pure-button pure-button-primary">Confirm</button>
          <button rv-show="modal.onCancel" rv-on-click="onMessageCancel"
            class="pure-button">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <script src="//www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
  <script src="assets/js/rivets.bundled.min.js"></script>
  <script src="assets/js/utils.js"></script>
  <script src="assets/js/init.js"></script>
</body>
</html>

