<settings-view>
  <h2>Settings</h2>

  <div data-icon="ei-archive"></div>

  <div each={ key, item in items }>
    <label class="label">
      { item.key }
      <input type="text" class="input" value={ item.value }>
      <span>{ item.desc }</span>
    </label>
  </div>

  <button class="btn btn-tertiary" onclick={ onClickBtnAddField }>Add field</button>

  <div class="modal-overlay fixed" if={ state.modal.show }>
    <div class="modal">
      <div class="modal_header">
        <h2>Add field</h2>
      </div>
      <div class="modal_content">
        <form onsubmit={ onSubmitModalForm } onreset={ onResetModalForm }>
          <label class="label">
            Name
            <input type="text" class="input" name="fieldName">
          </label>
          <label class="label">
            Description
            <textarea rows="2" class="input" name="fieldDesc"></textarea>
          </label>
          <label class="label">
            Type
            <select class="input" id="field_type" onchange={ onChangeFieldType } name="fieldType">
              <option value="text-small">Text small</option>
              <option value="text-large">Text large</option>
              <option value="markdown">Markdown</option>
              <option value="wysiwyg">WYSIWYG</option>
              <option value="select">Select</option>
              <option value="checkbox">Checkbox</option>
              <option value="radio">Radio</option>
            </select>
          </label>
          <button class="btn btn-tertiary" type="submit">Submit</button>
          <button class="btn btn-secondary" type="reset">Close</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    var self = this
    var db = firebase.database().ref('settings')

    self.items = {}

    db.on('value', function(snapshot) {
      console.log('db.settings:value')
      self.items = snapshot.val()
      self.update()
      console.log(self.items)
    })

    self.state = {
      modal: {
        show: false,
        fieldType: 'text-small'
      }
    }

    self.currentFieldType = 'text-large'

    onChangeFieldType(event) {
      self.state.modal.fieldType = event.target.value
      self.update()
    }

    onSubmitModalForm(event) {
      self.state.modal.show = false
      db.push({
        name: self.fieldName.value,
        desc: self.fieldDesc.value,
        type: self.fieldType.value,
        required: !!self.fieldRequired.value
      }).then(function() {
        console.log('db.settings.push.success')
      }).catch(function() {
        console.log('db.settings.push.error', error)
      })
    }

    onResetModalForm(event) {
      self.state.modal.show = false
    }

    onClickBtnAddField() {
      self.state.modal.show = true
    }
  </script>
</settings-view>