<template>
  <div class="header">
    <div class="control">
      <a href="#/product/" class="pure-button pure-button-primary">New</a>
    </div>
    <div class="title">Products</div>
  </div>

  <div class="items-list">
    <div rv-each-item="products" class="item">
      <a rv-href="'#/product/' | join item.$uid">{ item.title }</a>
    </div>
  </div>

  <div rv-if="spinner" class="spinner"></div>
</template>

<script>

  $props.loader = true
  $props.products = []

  firebase
    .database()
    .ref('products')
    .on('value', function(snapshot) {
      var products = snapshot.val()
      for (var uid in products) {
        products[uid].$uid = uid
        $props.products.push(products[uid])
        $props.loader = false
      }
    })

  return $props
</script>