<template>
  <form rv-on-submit="formSubmitHandler" class="pure-form pure-form-stacked">

    <div class="header">
      <div class="control">
        <button class="pure-button pure-button-primary">Save</button>
        <a href="javascript:history.back()" class="pure-button">Back</a>
      </div>
      <div class="title">Edit product</div>
    </div>

    <div class="field">
      <label>
        Title
        <input rv-value="product.title" type="text" class="pure-u-1" name="title">
      </label>
    </div>

    <div class="field">
      <label>
        Category
        <select rv-value="product.category" class="pure-u-1" name="category">
          <option value="Category #1">Category #1</option>
          <option value="Category #2">Category #2</option>
          <option value="Category #3">Category #3</option>
        </select>
      </label>
    </div>

    <div class="field">
      <label>
        Price
        <input rv-value="product.price" class="pure-u-1" type="text" name="price">
      </label>
    </div>

    <div class="field">
      <label>
        Tags
        <input rv-value="product.tags" class="pure-u-1" type="text" name="tags">
      </label>
    </div>

    <div class="field">
      <label>
        Description
        <autosize-textarea class="pure-u-1" value="product.description"
          name="description"></autosize-textarea>
      </label>
    </div>

    <div class="field">
      <div class="images">
        <div class="pure-g">
          <div rv-each-image="product.images" class="pure-u-1-1">
            <div class="image">
              <input type="hidden" name="images[]" src="image.src">
              <img rv-src="image.src" base="https://firebasestorage.googleapis.com/v0/b/chiffon-94fba.appspot.com/o/" onload="console.log(this)">
              <span rv-on-click="removeImage" class="remove">&times;</span>
            </div>
          </div>
        </div>
        <div class="button-group">
          <div class="pure-g">
            <div class="pure-u-1-2">
              <button class="pure-button pure-button-primary pure-button-first
                pure-u-1-1">Choose image</button>
            </div>
            <div class="pure-u-1-2">
              <label class="file">
                <span
                  rv-class-pure-button-disabled="uploadInProgress"
                  rv-class-wait-button="uploadInProgress"
                  class="pure-button pure-button-primary pure-button-last pure-u-1-1">
                  Upload image
                </span>
                <input type="file"
                  rv-disabled="uploadInProgress"
                  rv-on-change="uploadImage">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

  <div rv-if="loader" class="loader"></div>

</template>

<script>
  var id = $props.id
  var ref = firebase.database().ref('products/' + $props.id)
  $props.loader = true
  $props.product = null
  $props.uploadInProgress = false

  $props.formSubmitHandler = function(e) {
    e.preventDefault()
    ref
      .update(cloneObject($props.product))
      .then(function() {
        app.notify('Product saved successfully', 'success')
      })
      .catch(function() {
        app.notify('Error! Product not saved!', 'danger')
      })
  }

  $props.uploadImage = function(e) {
    if (e.target.files.length) {
      $props.uploadInProgress = true
      var file = e.target.files[0],
        name = file.name.split('.'),
        ext = name.pop().toLowerCase()
      name = [
        truncate(slugify(name), 30),
        date('y-m-d_h-i-s'),
        ext
      ].join('.')
      firebase
        .storage()
        .ref(name)
        .put(file)
        .then(function() {
          app.notify('Image upload success', 'success')
          $props.uploadInProgress = false
          $props.product.images = $props.product.images || []
          $props.product.images.push({
            src: name + '?alt=media'
          })
        })
        .catch(function(error) {
          app.notify('Image upload error!', 'danger')
          $props.uploadInProgress = false
        })
    }
  }

  $props.removeImage = function(event, model) {
    app.message('Are you sure about that?', function() {
      model.product.images.splice(model.index, 1)
    }, true)
  }

  ref.on('value', function(snapshot) {
    $props.product = snapshot.val()
    $props.loader = false
  })

  window.$props = $props

  return $props
</script>